.navbar{
    padding:10px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.navbar .container-img{
    width: 140px;
}
.navbar .container-img img{
    width:100%;
}

.links{
    margin-right: 100px;
}
.links .links-a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: 400;
}