.navbar{
    background: rgb(46, 46, 46);
    height: 100px;
    width: 100%;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
}

.navbar-img{
    width: 150px;
    padding-left: 10px;
}

.logo{
    width: 100%;
}



.linksContainer{
    padding-right: 10px;
    padding-bottom: 5px;
}

.linksContainer a {
    color:white;
    font-size: 25px;
    text-decoration: none;
    margin-right: 10px;
}

.navbar-links{
    display:flex;
    align-items:center;
    margin-right: 20px;
}
.cardWidget a{
    color:white;
    text-decoration:none;
}












.itemlistcontainer{
    padding-top: 20px;
    min-height: calc(100vh - 100px - 60px);
    width: 100%;
    background-color: rgb(239, 254, 255);
}
.footer{
    background: rgb(46, 46, 46);
    height: 60px;
    width: 100%;
    color: white;
}

.countdetail-container{
    display: flex;
    align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
    

}

.countdetail-container p {
    margin: 0px 10px 0px 10px;
    font-size: 25px;
    
}
/* 
.countdetail-container button{
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background: rgb(252, 191, 25)
} */

.itemdetail{
    background: rgb(252, 247, 247);
    padding:20px;
}

.itemdetail .detail-img{
   
    width: 60%;
    margin: auto;
}

.itemdetail h4{
    margin-top: 20px;
}

.itemdetail .detail-img img{
    width: 100%;
}